# SPDX-FileCopyrightText: 2026 Raniere Gaia Costa da Silva <raniere@rgaiacs.com>
#
# SPDX-License-Identifier: CC0-1.0

# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
